---
layout: default
permalink: /news/
title: News
---

<section class="news-section">
  <div class="news-header">
    <h1 class="news-title">News</h1>
    <p class="news-subtitle">For live updates about the UNESCO&nbsp;Chair,<br>follow us on <a href="{{ site.social.linkedin }}" target="_blank" class="external">LinkedIn</a>, <a href="{{ site.social.instagram }}" target="_blank" class="external">Instagram</a>, <a href="{{ site.social.facebook }}" target="_blank" class="external">Facebook</a> and <a href="{{ site.social.tiktok }}" target="_blank" class="external">TikTok</a>.</p>
  </div>
  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% assign currentYear = 'now' | date: '%Y' %}
  {% for year in postsByYear %}
  <details class="news-year-group" {% if year.name == currentYear %}open{% endif %}>
    <summary class="news-year-title">{{ year.name }}</summary>
    <ul class="news-list">
      {% for post in year.items %}
      <li class="news-list-item">
        <a class="news-list-link" href="{{ post.url }}">
          <span class="news-list-date">{{ post.date | date: "%Y-%m-%d" }}</span>
          <span class="news-list-location">{{ post.location }}</span>
          <span class="news-list-title">{{ post.title }}</span>
          {% if post.category %}<span class="news-list-category">{{ post.category }}</span>{% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </details>
  {% endfor %}
</section>
