---
layout: default
permalink: /projects/
title: Projects
body_class: light-bg
---
<!-- Projects Section -->


<section class="projects-section">

  <div class="projects-intro">
    <img src="{{ site.assets.sticker_en }}" alt="UNESCO Chair in Urban Landscape logo" class="sticker bottom-right">
    <div class="mission-wrapper">
        <div class="projects-content">
            <h2 class="mission-approach">{% include projects.md %}</h2>
            <div class="mission-axes">
                <div> 
                    <h3>Community-focused</h3>
                    <p>{% include pillard_community.md %}</p>
                </div>
                <div> 
                    <h3>Intersectoral</h3>
                    <p>{% include pillard_intersectoral.md %}</p>
                </div>
                <div> 
                    <h3>Creative</h3>
                    <p>{% include pillard_creative.md %}</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="projects-archive">
    {%- assign partnership = site.projects | where: "type", "partnership"  -%}
    {%- if partnership.size > 0 -%}
      <h2>Partnerships projects</h2>
      <p>{% include partnerships.md %}</p>
      <ul>
        {%- for post in partnership -%}
          <li>
           <article class="article">
              <h3><a href="{{ post.url }}">{{ post.name | default: post.title }}</a></h3>
              {%- if post.mission -%}<p>{{ post.mission }}</p>{%- endif -%}
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    

    {%- assign principal = site.projects | where: "type", "principal" -%}
    {%- if principal.size > 0 -%}
      <h2>Principal projects</h2>
      <p>{% include principal.md %}</p>
      <ul>
        {%- for post in principal -%}
          <li>
            <article class="article">
              <h3><a href="{{ post.url }}">{{ post.name | default: post.title }}</a></h3>
              {%- if post.mission -%}<p>{{ post.mission }}</p>{%- endif -%}
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}




    {%- assign associated = site.projects | where: "type", "associated" -%}
    {%- if associated.size > 0 -%}
      <h2>Associated projects</h2>
      <p>{% include associated.md %}</p>
      <ul>
        {%- for post in associated -%}
          <li>
            <article class="article">
              {%- if post.portrait -%}<img class="image" src="{{ post.portrait }}" loading="lazy">{%- endif -%}
              <h3><a href="{{ post.url }}">{{ post.name | default: post.title }}</a></h3>
              {%- if post.partners -%}<p>{{ post.partners }}</p>{%- endif -%}
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}


    {%- assign affiliated = site.projects | where: "type", "affiliated" -%}
    {%- if affiliated.size > 0 -%}
      <h2>Affiliated projects</h2>
      <p>{% include affiliated.md %}</p>
      <ul>
        {%- for post in affiliated -%}
          <li>
            <article class="article">
              {%- if post.portrait -%}<img class="image" src="{{ post.portrait }}" loading="lazy">{%- endif -%}
              <h3><a href="{{ post.url }}">{{ post.name | default: post.title }}</a></h3>
              {%- if post.direction -%}<p>{{ post.direction }}</p>{%- endif -%}
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}


    {%- assign students = site.projects | where: "type", "students_thesis" -%}
    {%- if students.size > 0 -%}
      <h2>Graduate projects</h2>
      <p>{% include graduate.md %}</p>
      <ul>
        {%- for post in students -%}
          <li>
            <article class="article">
              {%- if post.portrait -%}<img class="image" src="{{ post.portrait }}" loading="lazy">{%- endif -%}
              <h3><a href="{{ post.url }}">{{ post.name | default: post.title }}</a></h3>
              {%- if post.partners -%}<p>{{ post.partners }}</p>{%- endif -%}
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  </div>
</section>