---
layout: default
title: About
---

<!-- Mission Section -->
<section class="mission">
    <img src="{{ site.assets.sticker_en }}" alt="UNESCO Chair in Urban Landscape logo" class="sticker bottom-right">
    <div class="mission-wrapper">
        <div class="mission-content">
            <h2 class="mission-approach">{% include approach.md %}</h2>
            <div class="mission-axes">
                <div> 
                    <h3>Biodiversity</h3>
                    <p>{% include axis_biodiversity.md %}</p>
                </div>
                <div> 
                    <h3>Social Inclusion</h3>
                    <p>{% include axis_inclusion.md %}</p>
                </div>
                <div> 
                    <h3>Digitization</h3>
                    <p>{% include axis_digitization.md %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Numbers Section -->
<section class="numbers">
    <h1 class="numbers-title">Overview</h1>
    <div class="numbers-table">
        <div class="numbers-number">
            <p class="numbers-stat">20</p>
            <h2 class="numbers-label">Years<br>active</h2>
        </div>
        <div class="numbers-number">
            <p class="numbers-stat">14</p>
            <h2 class="numbers-label">UNESCO<br>Studios</h2>
        </div>
        <div class="numbers-number">
            <p class="numbers-stat">3</p>
            <h2 class="numbers-label">Research<br>axes</h2>
        </div>
        <div class="numbers-number">
            <p class="numbers-stat">900</p>
            <h2 class="numbers-label">Network<br>partners</h2>
        </div>
        <div class="numbers-number">
            <p class="numbers-stat">17</p>
            <h2 class="numbers-label">Team<br>members</h2>
        </div>
        <div class="numbers-number">
            <p class="numbers-stat">8</p>
            <h2 class="numbers-label">Nationalities<br>present</h2>
        </div>
    </div>
</section>

<!-- Question section -->

<section class="question">
    <h2 class="question-statement">How can we help you?</h2>
    <div class="question-content">
        {% assign sorted_posts = site.services | sort: 'order' %}
        {% for post in sorted_posts %}
        <hr>
        <button class="question-accordion">{{ post.question }}</button>
        <detail class="question-panel">
            <div class="question-answer">
                {{ post.content }}
            </div>
        </detail>
        {% endfor %}
        <hr>
    </div>
</section>

<!-- Team Section -->
<section class="team-section">
    <div class="archive team">
          {% for post in site.team %}
          <li> 
              <article class="article">
                  <img class="image" src="{{ post.portrait }}" loading="lazy">
                  <h2><a href="{{ post.url }}">{{ post.name }} ({{ post.pronouns }})</a></h2>
                  <p>{{ post.position }}</p>
              </article>
          </li>
          {% endfor %}
      </div>
  </section>

  <!-- Vision Section -->
<section class="vision">
    <h1 class="vision-text">
        <span>We believe urban landscapes</span>
        <span>are best made together.</span>
    </h1>

</section>

































