<div id=my_contact>
  <p class="alignleft">{{ "UNESCO Chair in Urban Landscape<br>at the University of Montréal<br>Prof. Shin Koseki, DSc." }}</p>
  <p class="alignright"> <a href={{ "tel:+15143432320>+1 514 343 2320" }}</a></p> 
   </div>

  <div style="clear: both;"></div>

  <span class="a"></span>
  
  <div>
    <p class="alignleft"><a
  href={{ "https://maps.app.goo.gl/Z7w1NWhM6WJec78J9?g_st=ic" }}>{{ "2940, Côte-Ste-Catherine Rd." }}  
    </a></p>
    <p class="alignright"><a 
 href={{ "" }}>{{ "Montréal, Canada" }} 

  <div style="clear: both;"></div>
  <span class="b"></span>

<hr>
</div>
