<div id=my_contact>
<div id="name_twitter">
  <p class="alignleft">{{ "UNESCO Chair in<br>Urban Landscape<br>at the University<br>of Montréal" }}</p>
<div id="phone_email">
  <p class="alignright"><a class={{ "mobilesOnly" }} href={{ "tel:+15143432320>+1 514 343 2320" }}</a></p>
<div style="clear: both;"></div>



<span class="a"></span>
<div>
<p class="alignleft"><a
href={{ "https://unesco-paysage.umontreal.ca" }}>{{ "Prof. Shin Koseki " }}</a></p>
  <p class="alignright"><a
href={{ "https://maps.app.goo.gl/Z7w1NWhM6WJec78J9?g_st=ic" }}>{{ "2940 Côte-Ste-Catherine Rd<br>Montréal, QC<br>Canada" }}  
  </a></p>
</div>
<div style="clear: both;"></div>
<span class="b"></span>

<hr>
</div>
