/* This file defines the css for the news posts*/


.member_post {
    margin: 0;
    background-color: white;
}

.member_post-container {
    display: grid;
    margin-left:auto;
    margin-right:auto;
    padding-top: 40px;
    place-items: center;
    width: 500px;
    padding-bottom:100px;
}

.member_post-portrait {
    width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.member_post-name {
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 40px;
}

.member_post-position {
    font-size: 2rem;
    margin-top: 0px;
}

.member_post-content {
    font-size: 1rem;
}

@media (max-width: 600px) {

    .member_post-title {
        margin-left: 1rem;
        margin-right:1rem;
        font-size: 2rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .member_post-category {
        margin-left: 1rem;
        font-size: 1rem;
        margin-top: 0px;
    }

    .member_post-container {
        display: grid;
        margin-left:1rem;
        margin-right:1rem;
        place-items: center;
        width: auto;
        padding-bottom:100px;
    }
}