/* This file defines the css for the news posts*/


.news_post {
    margin: auto;
    background-color: white;
    height: auto;
}

.news_post-image {
    width: calc(80% - 6rem);
    height: auto;
    margin: 3rem;
}

.news_post-title {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 4rem;
}

.news_post-category {
    margin-left: 3rem;
    font-size: 2rem;
    margin-top: 0px;
}

.news_post-meta-block {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  max-width: 600px;
}

.news_post-meta {
  font-size: 0.7rem;
  margin-bottom: 0.1rem;
}

.news_post-meta-items {
  font-size: 0.7rem;
  margin-top: 0;
  margin-bottom: 0rem;
}

.news_post-container {
    display: grid;
    margin-left:3rem;
    margin-right:auto;
    place-items: center;
    width: 800px;
    padding-bottom:100px;
}

.news_post-date {
    font-size: 1rem;
}

.news_post-content {
    font-size: 1rem;

    /* **New CSS to Constrain In-Text Images** */
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 800px) {

    .news_post-image {
        width: calc(100% - 2rem);
        height: auto;
        margin: 3rem;
    }

    .news_post-title {
        margin-left: 1rem;
        margin-right:1rem;
        font-size: 2rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .news_post-category {
        margin-left: 1rem;
        font-size: 1rem;
        margin-top: 0px;
    }

    .news_post-container {
        display: grid;
        margin-left:1rem;
        margin-right:1rem;
        place-items: center;
        width: auto;
        padding-bottom:100px;
    }

    .news_post-meta-block {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
