.mission {
  background-color: rgb(27, 188, 116);
  .logo {
    position: absolute;
    bottom: 80px;
    right: -35px;
    width: 175px;
  }
}

.axes {
  position: absolute;
  margin-left: 20px;
  margin-right: 25%;
  top: 45%;
  color: black;
}

.top {
  align-self: flex-start;

  h3 {
    font-size: 30px;
  }
  
  p {
    font-size: 22px; 
  }
}

.vertical {
  align-self: flex-start;
  flex: 1 0 25%;
  max-height:25%;
  box-sizing: border-box;
  padding: 10px;

  h3 {
    font-size: 3vw;
  }

  p {
    font-size: 2vw;
  }
}

.questions {
  display: flex;
  background-color: beige;
  padding: 10px;
}

.h1 {
  flex: 1;
}

.actors {
  position:relative;
  flex: 1;
  top: 20%;
  flex-direction: column;
  height:auto;
  height: 60%;
  max-height: 90%;
  width:80%;
  word-wrap: break-word;
  white-space: normal;
  left:10%;
}