<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: "Your Site Title" }}</title>
    <!-- Include main stylesheet -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="container">
    <!-- Hamburger Menu Icon -->
    <div id="hamburger-menu" class="hidden" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    
    <!-- Simple Navigation (Placeholder for your hamburger menu) -->
    <nav id="nav-menu" class="hidden">
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <!--        <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
            <li><a href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
    -->
        </ul>
    </nav>

    <!-- Main Content -->
    <main>
        {{ content }}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="socials">
            <div class="blank"></div>
            <div class="social-links">
                <a href="{{ site.social.linkedin }}" target="_blank" class="external">LINKEDIN</a>
                <a href="{{ site.social.facebook }}" target="_blank" class="external">FACEBOOK</a>
                <a href="{{ site.social.instagram }}" target="_blank" class="external">INSTAGRAM</a>
                <a href="{{ site.social.tiktok }}" target="_blank" class="external">TIK TOK</a>
            </div>
        </div>
        <div class="contacts">
            <div class="logo">
                <img src="{{ site.assets.logo_compact_en }}" alt="Institutional Logo">
            </div>
            <div class="chairholder">
                <h3><a href="{{ '/team/shin_koseki/' }}">{{ site.contact.person }}<br>{{ site.contact.role }}</a></h3>
                <p>{{ site.contact.office }}<br><a href="mailto:{{ site.contact.email }}" target="_blank" class="email external">{{ site.contact.email }}</a>
                    <br><a href="tel:{{ site.contact.phone }}" target="_blank" class="external">{{ site.contact.phone }}</a></p>
            </div>
            <div class="civic-address">
                <h3><a href="{{ site.contact.google_maps }}" target="_blank" class="external">Civic Address</a></h3>
                <p>{{ site.contact.civic }}</p>
            </div>
            <div class="mailing-address">
                <h3>Mailing Address</h3>
                <p>{{ site.contact.mailing }}</p>
            </div>
        </div>
        <p class="credit">&#169; {{ site.title }} {{ site.year }} — Montréal | Tiohtià:ke | Mooniyang</p>
    </footer>

    <!-- JavaScript File -->
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>