<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: "UNESCO Chair in Urban Landscape" }}</title>
    <!-- Include main stylesheet -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'en,fr,es,ar,zh-CN',
        autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body class="{{ page.body_class }}">
    <!-- Menu -->
    <nav class="navbar">
        <div class="hamburger" onclick="toggleMenu()">
            &#10298;
        </div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
           <!-- <a href="/teaching">Teaching</a> -->
            <!-- <a href="/network">Network</a> -->
        </div>
        <div id="google_translate_element"></div>
    </nav>

    <nav class="lang-switcher" style="text-align: right; margin: 10px;">
      <a href="/" {% raw %}{% if page.lang == "en" %}style="font-weight: bold;"{% endif %}{% endraw %}>English</a> |
      <a href="/fr/" {% raw %}{% if page.lang == "fr" %}style="font-weight: bold;"{% endif %}{% endraw %}>Français</a>
    </nav>
    <!-- Main Content -->
    <main>
        {{ content }}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{{ site.assets.logo_compact_en }}" alt="Institutional Logo">
            </div>
            <div class="footer-contact">
                <div class="footer-media">
                    <a href="{{ site.social.linkedin }}" target="_blank" class="external">LINKEDIN</a>
                    <a href="{{ site.social.facebook }}" target="_blank" class="external">FACEBOOK</a>
                    <a href="{{ site.social.instagram }}" target="_blank" class="external">INSTAGRAM</a>
                    <a href="{{ site.social.tiktok }}" target="_blank" class="external">TIK TOK</a>
                </div>
                <div class="footer-addresses">
                    <div class="chairholder">
                        <h3><a href="{{ '/team/shin_koseki.html' }}">{{ site.contact.person }}<br>{{ site.contact.role }}</a></h3>
                        <p>{{ site.contact.office }}<br><a href="mailto:{{ site.contact.email }}" target="_blank" class="email external">{{ site.contact.email }}</a>
                            <br><a href="tel:{{ site.contact.phone }}" target="_blank" class="external">{{ site.contact.phone }}</a></p>
                    </div>
                    <div class="civic-address">
                        <h3><a href="{{ site.contact.google_maps }}" target="_blank" class="external">Civic Address</a></h3>
                        <p>{{ site.contact.civic }}</p>
                    </div>
                    <div class="mailing-address">
                        <h3>Mailing Address</h3>
                        <p>{{ site.contact.mailing }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credit">
            <p class="credit">&#169; {{ site.title }} {{ site.year }} — Montréal | Tiohtià:ke | Mooniyang</p>
        </div>
    </footer>

    <!-- JavaScript File -->
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
